.header
    .log
        .headero-icon 
            img(src="img/social/instagram.svg" alt="instagram")
        .headero-icon 
            img(src="img/social/twitter.svg" alt="twitter")
        .headero-icon 
            img(src="img/social/facebook-f.svg" alt="facebook")

    h1.header-title Hipsum Blog


    .header__link
        img(src="img/social/search.svg" alt="search").header__link-search
        a(href="#").header__link-btn Subscribe