.header
    .log
        .headero-icon 
            img(src="img/header/instagram.svg" alt="instagram")
        .headero-icon 
            img(src="img/header/twitter.svg" alt="twitter")
        .headero-icon 
            img(src="img/header/facebook-f.svg" alt="facebook")

    h1.header-title Hipsum Blog


    .header__link
        img(src="img/header/search.svg" alt="search").header__link-search
        a(href="#").header_link-btn Subscribe