mixin card(title, date, img, text)
    .card
        .card-title #{title}
        .card-date #{date}
        .card-img
            img(src="img/card/" + img , alt= title)
        .card-text #{text}
        .card-bottom
            .card-btn
                .card-btn__wrapper
                    a(href="#").card-btn__href read more
                    .card-btn__double-right
                        include ./../../img/angle-double-right.svg
            .card-social
                img(src="img/social/whatsapp.svg" alt="Whatsapp").card-social__whatsapp
                img(src="img/social/instagram.svg" alt="Instagram").card-social__instagram
                img(src="img/social/twitter.svg" alt="Twitter").card-social__twitter
                img(src="img/social/facebook-f.svg" alt="Facebook").card-social__facebook

